
**/.terraform/*

*.tfstate
*.tfstate.*


crash.log
crash.*.log

*.tfvars
*.tfvars.json


*.tfplan

*.zip

node_modules/
npm-debug.log
yarn-error.log


__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/

.DS_Store
.vscode/
.idea/
*.swp